<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/mnt/data/A1QAcourse/TestApiWithAllure/src/test/java">
        <classes>
            <class name="tests.TestingApi">
                <methods>
                    <include name="testingJsonPlaceHolder"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>